{% extends "theme.html" %}
{% block admin %}active{% endblock %}
{% block content %}

    <h2>Admin panel</h2>

    <table class="table table-striped table-sm">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>First name</th>
            <th>Birth date</th>
            <th>Group</th>
            <th>Blocked</th>
            <th># tasks</th>
        </tr>

        {% for user in users %}

            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.birth }}</td>

                <td>
                    {% if user.group == 'admin' %}
                        <a href={{ url_for('group', user=user.id) }} type="button" class="btn btn-info btn-sm">Admin</a>
                    {% else %}
                        <a href={{ url_for('group', user=user.id) }} type="button" class="btn btn-light btn-sm">User</a>
                    {% endif %}
                </td>


                <td>
                    {% if user.blocked %}
                        <a href={{ url_for('block', user=user.id) }} type="button" class="btn btn-danger btn-sm">Blocked</a>
                    {% else %}
                        <a href={{ url_for('block', user=user.id) }} type="button" class="btn btn-success btn-sm">Active</a>
                    {% endif %}
                </td>
                <td>{{ user.tasks|length }}</td>
            </tr>

        {% endfor %}

    </table>
{% endblock %}
