{% extends "theme.html" %}

{% block content %}
    <h2>Edit task</h2>


    <form method="POST" action="/edit/{{ id }}" novalidate>
        {{ form.csrf_token }} <!-- {{ form.hidden_tag() }} -->
        {{ form.task.label }} {{ form.task(class="form-control") }}<br/>
        {{ form.description.label }} {{ form.description(class="form-control") }}<br/>
        {{ form.due.label }} {{ form.due(class="form-control") }}<br/>
        {{ form.submit(class="btn btn-primary") }}

    </form>

{% endblock %}